ticket-model/src/main/resources/Ticket-Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://acme.org/MarshallingDemo" 
	xmlns:tns="http://acme.org/MarshallingDemo" elementFormDefault="qualified">
	<xs:element name="ticketRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string" />
				<xs:element name="detail" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</schema>